# Exclure des dossiers complets (pense bien au / à la fin)
.venv/
__pycache__/
.pytest_cache/
.idea/
.vscode/
ProjetV3/env

# Exclure des fichiers spécifiques
.env
secret_config.json
*.pyc
*.log
*.pdf
